@font-face {
  font-family: "TTLakes";
  src: url("/fonts/TTLakes-Bold.eot");
  src: url("/fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/TTLakes-Bold.woff") format("woff"),
    url("/fonts/TTLakes-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "TTLakes";
  src: url("/fonts/TTLakes-Regular.eot");
  src: url("/fonts/TTLakes-Regular.eot?#iefix"), format("embedded-opentype"),
    local("font/TT Lakes Regular"), local("font/TTLakes-Regular"),
    url("/fonts/TTLakes-Regular.woff") format("woff"),
    url("/fonts/TTLakes-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

body{
  font-family: 'TT Lakes', sans-serif;
  padding: 0;
  margin: 0 auto;
}



.wrapper{
  max-height: 88px;
  margin: 0 auto;
  overflow: hidden;
}


.menuback{
  width: 100%;
  max-height: 88px;
  background-color: #ffffff;
}

.footer_menuback{
  margin: 10px;
}


.cps_row{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
}

.cps_image_left{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  flex-grow: 1;
}

.cps_image_rigt{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  flex-grow: 1;
}



.shadov_row{
  display: flex;
  Width: 320px;
  Height: 1px;
  Top: 87px;
  background:#D9FFF5;
}


.service_title{
  color: #1B1C21;
  font-family: 'TT Lakes', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
}

.services_row{
  display: flex;
  flex-wrap: nowrap;
  align-self: baseline;
  padding: 20px 0;
  gap: 15px;

  
}

.services_image{
  flex: 0 0 4px;
}

.main{
  background: #F8F8F8;
  width: 100%;
  height: 100%;
}

.slidemenu{
  display: flex;
  width: 504px;
  height: 40px;
  align-items: center;
  list-style-type: none;
  white-space: nowrap;
  font-family: "TT Lakes", sans-serif;
}

.slidemenu > li{
  margin-right: 20px;
  justify-content: space-between;

}

.slidemenu > li > a{
  color: #7E7E82;
  text-decoration-line: none;
}


.slidemenu > li > input[value="text"]{
  text-shadow: #7E7E82;
}


.slidemenu > li > input[type=button]{
  border: 2px solid #B8FFEC;
  background: #ffffff;
  font-family: 'TT Lakes', sans-serif;
  height: 40px;
  font-size: 16px;
  border-radius: 6px;
  padding: 6px 16px;
  color: #7E7E82;
}

